.bgsec{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-image: url(../img/BGSEC.png);
    background-size: cover;
    margin: 200px;
    padding: 100px;
}

.bgsec h2{
    text-align: center;
    font-weight: 600;
    font-size: 7vh;
}

.bgsec h2 span{
    color: $verdePrincipal;
}

#formcontact form{
    background-color: $grisPrincipal;
    border-radius: 20px;
    margin: 100px auto;
    width: 400px;
    padding: 50px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.formstyle input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    border-bottom:2px solid #bebed2
}

#area{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    border-bottom:2px solid #bebed2

}

#coment{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    border-bottom:2px solid #bebed2

}

.formbutton{
    padding:8px 12px;
    margin:8px 0 0;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
}


.formbutton:hover{
    background:#78788c;
    color: $grisPrincipal;
    transition: ease-in 0.4s;
}

@media screen and (max-width:800px){

    .bgsec{
        padding: 0;
        margin: 20px;
    }
    #formcontact form{
        padding: 10px;
        width: 80%;
    }
    
}