@media screen and (max-width:1024px){

    *{
        margin: 0px;
        padding: 0px;  
    }

   /*NAV*/  

   .bannercovid{
       display: flex;
       justify-content: center;
   }

   #nav{
       justify-content: space-between;
   }
   .mobile-nav{
    display: block;
    font-size: 2rem;
    text-decoration: none;
    color: black;

  }

  .fa-bars:before{
      color: black;
  }

    #barranav {
        position: fixed;
        top: -5%;
        left: -100%;
        width: 50%;
        height: 105vh;
        background: $coralPrincipal;
        z-index: 1;
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: left 0.5s, opacity 1s;

            .closenav a{
                display: inline;
                font-size: 2.5rem;
                position: fixed;
                top:0.5%;
                left:35%;
                text-decoration: none;
                color: $grisPrincipal;

                :hover{
                    text-decoration: none;
                    color: $grisPrincipal;

                }
                
            }
      }
      #barranav:target {
        left: 0;
        opacity: 1;   
      }

    .logo a img{
        width: 10vh;
        height: 10vh;
        padding:0;
        margin: 0;
    }

    header nav ul {
        flex-direction: column;
      }
      header nav ul li {
        margin: 10px 0;

      }
      header nav ul li a {
        font-size: 1.5rem;
      }

    /*LANDING PAGE*/

    .presenT {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;     

    }

    .present p {
        font-weight: 600;
        font-size: 2.5rem;
        text-align: center;

        span{
            color: $verdePrincipal;;
        }

    }
    /*PARTNERS INDEX*/
    
    .partners{
        display: none;
    }
    
    /*SERVICES INDEX*/

    #services{
        padding:0;

        h2 {
            padding: 0 0 2rem 0;
            font-size: 1.5rem;
     
            .fa-parachute-box{
             animation: none;
         }
    }

   }
    .grid-services{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 20px;

    }

    .puerta, 
    .ecomm, 
    .retiro{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .imgserv{
        padding: 0;
    }

    #services .title{
        font-size: 1.5rem;
    }

    .btmas{
        font-size: 0.8rem;
    }

    /*FOOTER*/

    #newsletter{
        width: 250px;
    }

    .newsletter{
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around; 
        padding: 10px;  

        .news-text p{
            font-size: 1rem;
            text-align: center;
         }     

        .formnewsletter form{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
                

    .mapa{
        display: none;
    }

    .pie-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 10px;

    }

    .datos {
        justify-self: center;
        padding: 0;
    }

    .rrss{
        text-align: center;
    }

    /*REVIEWS INDEX*/

    .reviews{
     background-image: none;
     margin: 0;
    }

    .rev{
        display: inline-block;
        padding-bottom: 3rem;

        img{
            display: none;
            width: 50px;
        }
    }

    .grid-rev{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    
    }

    .rev-comments img{
        max-width: 90%;
    }


    /*Present-Index*/

    .present{
        display: flex;
        flex-wrap: wrap-reverse;
        background-image: none;
        align-items: center;
        justify-content: center;
    }

    .present img{
        height: 30vh;
        width: 30vh;
        margin: 0;
    }

    .present p{
        font-weight: 400;
        font-size: 5vh;
        line-height: 4vh;
        margin: 30px;
        padding: 0;
    }
}

