*{
    margin: 0px;
    padding: 0px;  
}

a{
    text-decoration: none;
}


body{

    background: $grisPrincipal;
    /*background: #F26F63;
    background: linear-gradient(to top,#F26F63, #f2f2f2);*/
    font-family: 'Palanquin Dark', sans-serif;
}