/*Services.html*/
.secservices h1{
    text-align: center;

    span{
        color:$verdePrincipal;
    }
}

.serv-descrip{   
    margin: 4rem 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .sec{
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            padding:4rem;
        }

    }

}

@media screen and (max-width:800px){
    .serv-descrip{
        margin: 2rem;
        flex-direction: column;

        .sec{
            flex-direction: column;
            margin: 2rem;

            .imgservsec {
            padding: 0;
            width: 60%;
            height: 60%;
            }
        }

        .papreverse{
            flex-direction: column-reverse;
        }
    }
}