/*Tracking.html*/

#tr-sect{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-image: url(../img/BGSEC.png);
    background-size: cover;
    margin: 200px;
    padding: 100px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.tr-form-sect form{
    justify-self: center;
    align-self: center;
    padding:20px 10px   ;
    border-radius: 6px;

}

#busqueda{
    border: 1px solid $grisPrincipal;
    border-radius: 6px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
    height: 32px;
    width: 35vh;
    background-color: #f2f2f280;
}

.tr-form-sect input[type="submit"]{

    background: $verdePrincipal;
    border: 1px solid $grisPrincipal;
    border-radius: 6px;
    color: $grisPrincipal;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}


.tr-text{
    margin: 50px;
    font-size: 3rem;
    width: 50%;
}

.tr-text p strong{
    color: $verdePrincipal;
}

@media screen and (max-width:1024px){

    #tr-sect{
        padding: 100px 0;
        margin: 200px 20px;
    }

}

@media screen and (max-width:800px){

    #tr-sect{
        margin: 20px;
        padding: 150px 10px;
        flex-direction: column;
        flex-wrap: wrap;

        .tr-text{
            margin: 10px;
            font-size: 2.5rem;
            width: 90%;
            text-align: center;
        }

        .tr-form-sect form{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }

}